body {
  padding: 0;
  margin: 0;
}
nav {
  background-color: #4e4c4d;
  padding: 20px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav ul li {
  display: inline;
  margin: 0 40px;
}
nav ul li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
